<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.3.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

    <!--启用Spring基于Annotation的DI（依赖注入），Annotation（注解）是Spring的强大功能
        激活 @Required @Resource @Autowired @PostConstruct @PreDestroy 等注解-->
    <context:annotation-config/>

    <!--DispatcherServlet上下文，除了不管理@Controller标注的类，其它标注如@Service、@Repository、@Component等的类均需管理
        @Controller标注的类专门交给DispatcherServlet上下文来处理-->
    <context:component-scan base-package="com.kelly.springMVC">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

</beans>
