<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byType">
       
       <bean id="autoWiringDAO" class="com.kelly.autowiring.AutoWiringDAO"></bean>
       
       <bean id="autoWiringService" class="com.kelly.autowiring.AutoWiringService"></bean>

</beans>