<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
       
       <bean id = "beanScope" class="com.kelly.bean.BeanScope" scope="singleton"
             init-method="init" destroy-method="destroy"></bean>
<!--        <bean id = "beanScope" class="com.kelly.bean.BeanScope" scope="prototype"></bean> -->

       <bean id = "beanLifeCycle" class="com.kelly.bean.BeanLifeCycle" init-method="init" destroy-method="destroy"></bean>
       
       <bean id = "beanLife" class="com.kelly.bean.BeanLife"></bean>

</beans>